<!DOCTYPE html>
<html>

<head>
    <title>Gesti&oacute;n de Usuarios</title>
    <h2>Gesti&oacute;n de Usuarios</h2>
</head>

<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Rol de usuario</th>
                <th scope="col">Nro. Celular</th>
                <th scope="col">Fecha de ingreso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Mark</th>
                <td>Otto</td>
                <td>@mdo</td>
                <td>markotto</td>
                <td>Administrador</td>
                <td>987654321</td>
                <td>15/04/23</td>
            </tr>
            <tr>
                <th scope="row">Jacob</th>
                <td>Thornton</td>
                <td>@fat</td>
                <td>JacThor</td>
                <td>Vendedor</td>
                <td>963258741</td>
                <td>16/04/23</td>
            </tr>
            <tr>
                <th scope="row">Larry</th>
                <td>Bird</td>
                <td>@LarryBird</td>
                <td>LarryB</td>
                <td>Vendedor</td>
                <td>951357825</td>
                <td>17/04/23</td>
            </tr>
        </tbody>
    </table>
</body>

</html>